<div class="jumbotron text-left" style="margin-bottom:0;background-color: #343a40 !important">
  <div class="row" style="color: white">
    <div class="col-md-3 col-sm-6">
      <h2>Contactez-nous</h2>
      <p>
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon> contact@sgmk.com
      </p>
    </div>

    <div class="col-md-3 col-sm-6">
      <h2>À propos</h2>
      <div class="other-info">
        <p></p>
        <p>SGMK est la solution d’évaluation full-stack qui vous aide a booster vos compétences techniques.</p>
        <p>Notre expertise couvre une large palette de technologies que nous enrichissons en continu parce que comme
          vous, nous travaillons pour devenir plus forts, plus malins et pour apprendre davantage.</p>
        <p></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <h2>Suivez-nous</h2>
      <div style="font-size:48px;">
      <a style="padding-right: 10px"  class="fa facebook" rel="external" target="_blank" href="https://www.facebook.com/sgmk-consulting">
          <fa-icon [icon]="['fab', 'facebook-f']"> </fa-icon> 
        </a>
      <a style="padding: 10px"  class="fa twitter" rel="external" target="_blank" href="https://twitter.com/_sgmk">
          <fa-icon [icon]="['fab', 'twitter']"> </fa-icon> 
        </a>
    <a style="padding: 10px"  class="fa linkedin" rel="external" target="_blank" href="https://linkedin.com/_sgmk">
          <fa-icon [icon]="['fab', 'linkedin']"> </fa-icon> 
        </a></div>
      <!-- <a class="fa facebook" rel="external" target="_blank" href="https://www.facebook.com/SkillValue"></a>
      <a class="social-button twitter" rel="external" target="_blank" href="https://twitter.com/_SkillValue"></a>
      <a class="social-button linkedin" rel="external" target="_blank" href="https://www.linkedin.com/company/skillvalue?trk=biz-companies-cym"></a>
      <a class="social-button google" rel="external" target="_blank" href="https://plus.google.com/102423694281313715211"></a> -->

    </div>

    <div class="col-md-3 col-sm-6">
      <p>
        <img src="../../assets/Images/logo.jpg" alt="">
      </p>
      <p  style="text-align: right;"><a href="#" class="btn btn-info btn-lg">
        <!-- <span class="glyphicon glyphicon-menu-up">fa-chevron-up</span> Menu-up -->
        <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
      </a> </p>
    </div>

  </div>
</div>

<div class="copyright">© Copyright 2018. Tous droits réservés CKZ Technologies. 
  <a href="/static/documents/Terms_and_Conditions.fr.pdf" target="_blank">Conditions générales d'utilisation</a> | 
  <a href="/static/documents/Legal_Statement.fr.pdf" target="_blank">Mentions légales</a> | 
  <a href="/static/documents/Privacy_Policy.fr.pdf" target="_blank">Politique de confidentialité</a> | 
  <a href="/static/documents/Cookies_Charter.fr.pdf" target="_blank">Charte sur les cookies</a></div>